<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">{{'header.commands' | translate}}</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div
        class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"></div>
      <div>
        <h3 class="fs-2">{{'commands.reset.text' | translate}}</h3>
        <p>{{'commands.reset.description' | translate}}</p>
        <app-sb-button (clicked)="resetDatabase()"
                       [disabled]="loading"
                       [loading]="loadingReset"
                       class="position-relative">
          {{'commands.reset.button' | translate}}
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{'commands.reset.new' | translate}}
          </span>
        </app-sb-button>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div
        class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"></div>
      <div>
        <h3 class="fs-2">{{'commands.clear.text' | translate}}</h3>
        <p>{{'commands.clear.description' | translate}}</p>
        <app-sb-button (clicked)="clearDatabase()"
                       [disabled]="loading"
                       [loading]="loadingClear"
                       [translate]="'commands.clear.button'"></app-sb-button>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div
        class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"></div>
      <div>
        <h3 class="fs-2">{{'commands.delete.text' | translate}}</h3>
        <p>{{'commands.delete.description' | translate}}</p>

        <form (submit)="deleteExercise()">
          <div class="input-group">
            <div class="input-group has-validation">
              <div class="input-group-text">{{'commands.delete.prefix' | translate}}</div>
              <input (change)="onDeleteIdChange()"
                     (input)="onDeleteIdChange()"
                     [(ngModel)]="deleteId"
                     [disabled]="loading"
                     class="form-control {{ deleteIdValidity }}"
                     name="deleteId"
                     placeholder="{{'commands.delete.placeholder' | translate}}"
                     type="text">
              <div class="invalid-feedback">{{'commands.delete.invalid' | translate}}</div>
              <div class="valid-feedback">{{'commands.delete.valid' | translate}}</div>
            </div>
          </div>
          <br>
          <app-sb-submit [disabled]="loading || deleteIdValidity !== 'is-valid'"></app-sb-submit>
        </form>

        <app-sb-button (clicked)="deleteExercise()"
                       [disabled]="loading || deleteIdValidity !== 'is-valid'"
                       [loading]="loadingDelete"
                       [translate]="'commands.delete.button'"></app-sb-button>
      </div>
    </div>
  </div>
</div>
