<ul class="list-group centeredList">
  <li class="list-group-item clearfix">
    {{'commands.reset.text' | translate}}
    <hr>
    {{'commands.reset.description' | translate}}
    <span class="pull-right">
        <button (click)="resetDatabase()" class="btn btn-primary" type="button">
          {{'commands.reset.button' | translate}}
          <span class="badge badge-light"> {{'commands.reset.new' | translate}}"</span>
        </button>
    </span>
  <li class="list-group-item clearfix">
    {{'commands.clear.text' | translate}}
    <hr>
    {{'commands.clear.description' | translate}}
    <span class="pull-right">
        <button (click)="clearDatabase()" class="btn btn-primary" type="button">
          {{'commands.clear.button' | translate}}
        </button>
    </span>
</ul>
