<nav *ngIf="visible" class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid" style="padding: 10px 50px;">
    <a class="navbar-brand">SportBuddy Admin</a>
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/upload" aria-current="page">Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/commands" aria-current="page">Commands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/users" aria-current="page">Users</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a class="nav-link active" (click)="logout()" href="/" aria-current="page" role="button">Log out</a>
      </ul>
    </div>
  </div>
</nav>
