<nav *ngIf="visible" aria-label="Second navbar example" class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid" style="padding: 10px 50px;">
    <a class="navbar-brand">SportBuddy Admin</a>
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a aria-current="page" class="nav-link active" routerLink="/upload">{{'header.upload' | translate}}</a>
        </li>
        <li class="nav-item">
          <a aria-current="page" class="nav-link active" routerLink="/commands">{{'header.commands' | translate}}</a>
        </li>
        <li class="nav-item">
          <a aria-current="page" class="nav-link active" routerLink="/users">{{'header.users' | translate}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a (click)="logout()" aria-current="page" class="nav-link active" href="/"
           role="button">{{'header.logout' | translate}}</a>
      </ul>
    </div>
  </div>
</nav>
