<ul class="list-group centeredList">
  <li class="list-group-item clearfix">
    Reset database
    <span class="pull-right">
        <button (click)="resetDatabase()" class="btn btn-primary" type="button">
          Reset
          <span class="badge badge-light">New</span>
        </button>
    </span>
  <li class="list-group-item clearfix">
    Clear database
    <span class="pull-right">
        <button (click)="clearDatabase()" class="btn btn-primary" type="button">
          Clear
          <span class="badge badge-light">New</span>
        </button>
    </span>
</ul>
