<div class="card" style="margin: 25px;">
  <div class="card-body">
    <h1 class="card-title">{{'reset.title' | translate}}</h1>
    <form (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
      <div class="mb-3 row">
        <label class="col-form-label col-sm-2">{{'reset.password' | translate}}</label>
        <div class="col-md-5">
          <input [(ngModel)]="password"
                 autocomplete="new-password"
                 class="form-control"
                 name="password"
                 type="password"/>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-form-label col-sm-2">{{'reset.confirm' | translate}}</label>
        <div class="col-md-5">
          <input [(ngModel)]="confirmPassword"
                 class="form-control"
                 name="confirmPassword"
                 type="password"/>
        </div>
      </div>
      <br>
      <input [disabled]="loading || password !== confirmPassword || password === ''" hidden="true" type="submit"/>
      <!-- submit with pressing enter -->
      <div class="mb-3 row">
        <div class="col-md-1">
          <app-sb-button (clicked)="onSubmit()"
                         [disabled]="loading || password !== confirmPassword || password === ''"
                         [loading]="loading"
                         [translate]="'reset.submit'"></app-sb-button>
        </div>
      </div>
    </form>
  </div>
</div>
