<div class="card" style="margin: 25px;">
  <div class="card-body">
    <h1 class="card-title">Reset Password</h1>
    <form (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
      <div class="mb-3 row">
        <label class="col-form-label col-sm-2">Password:</label>
        <div class="col-md-5">
          <input class="form-control"
                 type="password"
                 name="password"
                 autocomplete="new-password"
                 [(ngModel)]="password"/>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-form-label col-sm-2">Confirm Password:</label>
        <div class="col-md-5">
          <input class="form-control"
                 type="password"
                 name="confirmPassword"
                 [(ngModel)]="confirmPassword"/>
        </div>
      </div>
      <br>
      <div class="mb-3 row">
        <div class="col-md-1">
          <button (click)="onSubmit()"
                  [disabled]="loading || password !== confirmPassword || password === ''"
                  class="btn btn-primary" type="button">
            <span *ngIf="loading" aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
            <span>&nbsp;Submit&nbsp;</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
