<div class="container py-2">
  <h2 class="pb-2">{{'reset.title' | translate}}</h2>
  <h5 class="pb-2 border-bottom">{{'header.details.reset' | translate}}</h5>
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
        <div class="mb-3 row">
          <label class="col-form-label col-sm-2">{{'reset.password.title' | translate}}</label>
          <div class="col-md-5">
            <input [(ngModel)]="password"
                   autocomplete="new-password"
                   class="form-control"
                   name="password"
                   placeholder="{{'reset.password.placeholder' | translate}}"
                   type="password"/>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-form-label col-sm-2">{{'reset.confirm.title' | translate}}</label>
          <div class="col-md-5">
            <input [(ngModel)]="confirmPassword"
                   class="form-control"
                   name="confirmPassword"
                   placeholder="{{'reset.confirm.placeholder' | translate}}"
                   type="password"/>
          </div>
        </div>
        <br>
        <app-sb-submit [disabled]="loading || password !== confirmPassword || password === ''"></app-sb-submit>
        <div class="mb-3 row">
          <div class="col-md-1">
            <app-sb-button (clicked)="onSubmit()"
                           [disabled]="loading || password !== confirmPassword || password === ''"
                           [loading]="loading"
                           [translate]="'reset.submit'"></app-sb-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
