<button (click)="export()"
        [disabled]="loading"
        class="btn btn-primary"
        style="float: right;margin: 25px;"
        type="button">
  <span *ngIf="loadingExport" aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
  <span>&nbsp;{{'users.export' | translate}}&nbsp;</span>
</button>

<button (click)="exportCsv()"
        [disabled]="loading"
        class="btn btn-primary"
        style="float: right;margin: 25px;"
        type="button">
  <span *ngIf="loadingExportCsv" aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
  <span>&nbsp;{{'users.exportCsv' | translate}}&nbsp;</span>
</button>

<button (click)="refresh()"
        [disabled]="loading"
        class="btn btn-primary"
        style="float: right;margin: 25px;"
        type="button">
  <span *ngIf="loadingRefresh" aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
  <span>&nbsp;{{'users.refresh' | translate}}&nbsp;</span>
</button>

<div>
  <table id="table">
    <tr>
      <th style="width:100px">{{'users.table.id' | translate}}</th>
      <th style="width:100px">{{'users.table.name' | translate}}</th>
      <th style="width:100px">{{'users.table.email' | translate}}</th>
      <th style="width:100px">{{'users.table.password' | translate}}</th>
      <th style="width:100px">{{'users.table.image' | translate}}</th>
      <th style="width:100px">{{'users.table.token' | translate}}</th>
      <th style="width:100px">{{'users.table.chats' | translate}}</th>
    </tr>
    <tr *ngFor="let item of users">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.password}}</td>
      <td>{{item.profileImage}}</td>
      <td>{{item.token}}</td>
      <td>{{item.chats.join(", ")}}</td>
    </tr>
  </table>
</div>
