<div class="centered">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label class="form-label">{{'upload.sequence.title' | translate}}</label>
        <div class="input-group">
          <input [(ngModel)]="sequenceCount"
                 [disabled]="loading"
                 class="form-control"
                 min="1"
                 name="sequenceCount"
                 onblur="if (this.value < 1) this.value = 1"
                 onkeyup="if (this.value < 1) this.value = 1"
                 pattern="^[0-9]"
                 required
                 step="1"
                 type="number">
        </div>
        <div class="form-text">{{'upload.sequence.details' | translate}}</div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label class="form-label">{{'upload.delay.title' | translate}}</label>
        <div class="input-group">
          <input [(ngModel)]="delay"
                 [disabled]="loading"
                 class="form-control"
                 min="0"
                 name="delay"
                 onblur="if (this.value === '' || this.value < 0) this.value = 0"
                 onkeyup="if (this.value === '' || this.value < 0) this.value = 0"
                 pattern="^[0-9]"
                 required
                 type="number">
        </div>
        <div class="form-text">{{'upload.delay.details' | translate}}</div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">{{'upload.video.title' | translate}}</label>
    <div class="input-group">
      <input [(ngModel)]="videoId"
             [disabled]="loading"
             class="form-control"
             name="videoId"
             required
             type="text">
    </div>
    <div class="form-text">{{'upload.video.details' | translate}}</div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label class="form-label">{{'upload.name.title' | translate}}</label>
        <div class="input-group">
          <input [(ngModel)]="name"
                 [disabled]="loading"
                 class="form-control"
                 min="0"
                 name="name"
                 required
                 type="text">
        </div>
        <div class="form-text">{{'upload.name.details' | translate}}</div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label class="form-label">{{'upload.details.title' | translate}}</label>
        <div class="input-group">
          <input [(ngModel)]="details"
                 [disabled]="loading"
                 class="form-control"
                 name="delay"
                 required
                 type="text">
        </div>
        <div class="form-text">{{'upload.details.details' | translate}}</div>
      </div>
    </div>
  </div>

  <br>
  <hr>

  <div *ngFor="let sequence of sequence">
    <div class="row">
      <div class="col">
        <label class="form-label" for="firstHalfArm">{{'upload.item.titles.arm.firstHalf' | translate}}</label>
        <select [(ngModel)]="sequence.armCharacteristics.firstHalfPositionType" class="form-select" id="firstHalfArm">
          <option value="around0">{{'upload.item.half.around0' | translate}}</option>
          <option value="around45">{{'upload.item.half.around45' | translate}}</option>
          <option value="around90">{{'upload.item.half.around90' | translate}}</option>
          <option value="around135">{{'upload.item.half.around135' | translate}}</option>
          <option value="around180">{{'upload.item.half.around180' | translate}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" for="firstFullArm">{{'upload.item.titles.arm.firstFull' | translate}}</label>
        <select [(ngModel)]="sequence.armCharacteristics.firstFullPositionType" class="form-select" id="firstFullArm">
          <option value="around0">{{'upload.item.full.around0' | translate}}</option>
          <option value="around45">{{'upload.item.full.around45' | translate}}</option>
          <option value="around90">{{'upload.item.full.around90' | translate}}</option>
          <option value="around135">{{'upload.item.full.around135' | translate}}</option>
          <option value="around180">{{'upload.item.full.around180' | translate}}</option>
          <option value="around225">{{'upload.item.full.around225' | translate}}</option>
          <option value="around270">{{'upload.item.full.around270' | translate}}</option>
          <option value="around315">{{'upload.item.full.around315' | translate}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" for="secondHalfArm">{{'upload.item.titles.arm.secondHalf' | translate}}</label>
        <select [(ngModel)]="sequence.armCharacteristics.secondHalfPositionType" class="form-select" id="secondHalfArm">
          <option value="around0">{{'upload.item.half.around0' | translate}}</option>
          <option value="around45">{{'upload.item.half.around45' | translate}}</option>
          <option value="around90">{{'upload.item.half.around90' | translate}}</option>
          <option value="around135">{{'upload.item.half.around135' | translate}}</option>
          <option value="around180">{{'upload.item.half.around180' | translate}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" for="secondFullArm">{{'upload.item.titles.arm.secondFull' | translate}}</label>
        <select [(ngModel)]="sequence.armCharacteristics.secondFullPositionType" class="form-select" id="secondFullArm">
          <option value="around0">{{'upload.item.full.around0' | translate}}</option>
          <option value="around45">{{'upload.item.full.around45' | translate}}</option>
          <option value="around90">{{'upload.item.full.around90' | translate}}</option>
          <option value="around135">{{'upload.item.full.around135' | translate}}</option>
          <option value="around180">{{'upload.item.full.around180' | translate}}</option>
          <option value="around225">{{'upload.item.full.around225' | translate}}</option>
          <option value="around270">{{'upload.item.full.around270' | translate}}</option>
          <option value="around315">{{'upload.item.full.around315' | translate}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" for="distanceArm">{{'upload.item.titles.arm.distance' | translate}}</label>
        <select [(ngModel)]="sequence.armCharacteristics.distanceType" class="form-select" id="distanceArm">
          <option value="around0">{{'upload.item.distance.around0' | translate}}</option>
          <option value="around1">{{'upload.item.distance.around1' | translate}}</option>
          <option value="around2">{{'upload.item.distance.around2' | translate}}</option>
          <option value="around3">{{'upload.item.distance.around3' | translate}}</option>
          <option value="around4">{{'upload.item.distance.around4' | translate}}</option>
          <option value="aroundMinus1">{{'upload.item.distance.aroundMinus1' | translate}}</option>
          <option value="aroundMinus2">{{'upload.item.distance.aroundMinus2' | translate}}</option>
          <option value="aroundMinus3">{{'upload.item.distance.aroundMinus3' | translate}}</option>
          <option value="aroundMinus4">{{'upload.item.distance.aroundMinus4' | translate}}</option>
        </select>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <label class="form-label" for="firstHalfLeg">{{'upload.item.titles.leg.firstHalf' | translate}}</label>
        <select [(ngModel)]="sequence.legCharacteristics.firstHalfPositionType" class="form-select" id="firstHalfLeg">
          <option value="around0">{{'upload.item.half.around0' | translate}}</option>
          <option value="around45">{{'upload.item.half.around45' | translate}}</option>
          <option value="around90">{{'upload.item.half.around90' | translate}}</option>
          <option value="around135">{{'upload.item.half.around135' | translate}}</option>
          <option value="around180">{{'upload.item.half.around180' | translate}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" for="firstFullLeg">{{'upload.item.titles.leg.firstFull' | translate}}</label>
        <select [(ngModel)]="sequence.legCharacteristics.firstFullPositionType" class="form-select" id="firstFullLeg">
          <option value="around0">{{'upload.item.full.around0' | translate}}</option>
          <option value="around45">{{'upload.item.full.around45' | translate}}</option>
          <option value="around90">{{'upload.item.full.around90' | translate}}</option>
          <option value="around135">{{'upload.item.full.around135' | translate}}</option>
          <option value="around180">{{'upload.item.full.around180' | translate}}</option>
          <option value="around225">{{'upload.item.full.around225' | translate}}</option>
          <option value="around270">{{'upload.item.full.around270' | translate}}</option>
          <option value="around315">{{'upload.item.full.around315' | translate}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" for="secondHalfLeg">{{'upload.item.titles.leg.secondHalf' | translate}}</label>
        <select [(ngModel)]="sequence.legCharacteristics.secondHalfPositionType" class="form-select" id="secondHalfLeg">
          <option value="around0">{{'upload.item.half.around0' | translate}}</option>
          <option value="around45">{{'upload.item.half.around45' | translate}}</option>
          <option value="around90">{{'upload.item.half.around90' | translate}}</option>
          <option value="around135">{{'upload.item.half.around135' | translate}}</option>
          <option value="around180">{{'upload.item.half.around180' | translate}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" for="secondFullLeg">{{'upload.item.titles.leg.secondFull' | translate}}</label>
        <select [(ngModel)]="sequence.legCharacteristics.secondFullPositionType" class="form-select" id="secondFullLeg">
          <option value="around0">{{'upload.item.full.around0' | translate}}</option>
          <option value="around45">{{'upload.item.full.around45' | translate}}</option>
          <option value="around90">{{'upload.item.full.around90' | translate}}</option>
          <option value="around135">{{'upload.item.full.around135' | translate}}</option>
          <option value="around180">{{'upload.item.full.around180' | translate}}</option>
          <option value="around225">{{'upload.item.full.around225' | translate}}</option>
          <option value="around270">{{'upload.item.full.around270' | translate}}</option>
          <option value="around315">{{'upload.item.full.around315' | translate}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" for="distanceLeg">{{'upload.item.titles.leg.distance' | translate}}</label>
        <select [(ngModel)]="sequence.legCharacteristics.distanceType" class="form-select" id="distanceLeg">
          <option value="around0">{{'upload.item.distance.around0' | translate}}</option>
          <option value="around1">{{'upload.item.distance.around1' | translate}}</option>
          <option value="around2">{{'upload.item.distance.around2' | translate}}</option>
          <option value="around3">{{'upload.item.distance.around3' | translate}}</option>
          <option value="around4">{{'upload.item.distance.around4' | translate}}</option>
          <option value="aroundMinus1">{{'upload.item.distance.aroundMinus1' | translate}}</option>
          <option value="aroundMinus2">{{'upload.item.distance.aroundMinus2' | translate}}</option>
          <option value="aroundMinus3">{{'upload.item.distance.aroundMinus3' | translate}}</option>
          <option value="aroundMinus4">{{'upload.item.distance.aroundMinus4' | translate}}</option>
        </select>
      </div>
    </div>

    <br>

    <div *ngFor="let error of sequence.errors">
      <br>

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <label class="form-label" for="errorDescription">{{'upload.item.titles.error.title' | translate}}</label>
          <input [(ngModel)]="error.error"
                 class="form-control"
                 id="errorDescription"
                 name="error"
                 placeholder="{{'upload.item.titles.error.placeholder' | translate}}"
                 type="test">
        </div>
        <div class="col">
          <label class="form-label" for="error">{{'upload.item.titles.error.type' | translate}}</label>
          <select [(ngModel)]="error.characteristics.type" class="form-select" id="error">
            <option value="arms">{{'upload.item.type.arms' | translate}}</option>
            <option value="legs">{{'upload.item.type.legs' | translate}}</option>
          </select>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
          <app-sb-button (clicked)="removeError(error)" [disabled]="loading"
                         [translate]="'upload.item.buttons.error.remove'"></app-sb-button>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <label class="form-label" for="firstHalfError">{{'upload.item.titles.error.firstHalf' | translate}}</label>
          <select [(ngModel)]="error.characteristics.firstHalfPositionType" class="form-select" id="firstHalfError">
            <option value="around0">{{'upload.item.half.around0' | translate}}</option>
            <option value="around45">{{'upload.item.half.around45' | translate}}</option>
            <option value="around90">{{'upload.item.half.around90' | translate}}</option>
            <option value="around135">{{'upload.item.half.around135' | translate}}</option>
            <option value="around180">{{'upload.item.half.around180' | translate}}</option>
          </select>
        </div>
        <div class="col">
          <label class="form-label" for="firstFullError">{{'upload.item.titles.error.firstFull' | translate}}</label>
          <select [(ngModel)]="error.characteristics.firstFullPositionType" class="form-select" id="firstFullError">
            <option value="around0">{{'upload.item.full.around0' | translate}}</option>
            <option value="around45">{{'upload.item.full.around45' | translate}}</option>
            <option value="around90">{{'upload.item.full.around90' | translate}}</option>
            <option value="around135">{{'upload.item.full.around135' | translate}}</option>
            <option value="around180">{{'upload.item.full.around180' | translate}}</option>
            <option value="around225">{{'upload.item.full.around225' | translate}}</option>
            <option value="around270">{{'upload.item.full.around270' | translate}}</option>
            <option value="around315">{{'upload.item.full.around315' | translate}}</option>
          </select>
        </div>
        <div class="col">
          <label class="form-label" for="secondHalfError">{{'upload.item.titles.error.secondHalf' | translate}}</label>
          <select [(ngModel)]="error.characteristics.secondHalfPositionType" class="form-select" id="secondHalfError">
            <option value="around0">{{'upload.item.half.around0' | translate}}</option>
            <option value="around45">{{'upload.item.half.around45' | translate}}</option>
            <option value="around90">{{'upload.item.half.around90' | translate}}</option>
            <option value="around135">{{'upload.item.half.around135' | translate}}</option>
            <option value="around180">{{'upload.item.half.around180' | translate}}</option>
          </select>
        </div>
        <div class="col">
          <label class="form-label" for="secondFullError">{{'upload.item.titles.error.secondFull' | translate}}</label>
          <select [(ngModel)]="error.characteristics.secondFullPositionType" class="form-select" id="secondFullError">
            <option value="around0">{{'upload.item.full.around0' | translate}}</option>
            <option value="around45">{{'upload.item.full.around45' | translate}}</option>
            <option value="around90">{{'upload.item.full.around90' | translate}}</option>
            <option value="around135">{{'upload.item.full.around135' | translate}}</option>
            <option value="around180">{{'upload.item.full.around180' | translate}}</option>
            <option value="around225">{{'upload.item.full.around225' | translate}}</option>
            <option value="around270">{{'upload.item.full.around270' | translate}}</option>
            <option value="around315">{{'upload.item.full.around315' | translate}}</option>
          </select>
        </div>
        <div class="col">
          <label class="form-label" for="distanceError">{{'upload.item.titles.error.distance' | translate}}</label>
          <select [(ngModel)]="error.characteristics.distanceType" class="form-select" id="distanceError">
            <option value="around0">{{'upload.item.distance.around0' | translate}}</option>
            <option value="around1">{{'upload.item.distance.around1' | translate}}</option>
            <option value="around2">{{'upload.item.distance.around2' | translate}}</option>
            <option value="around3">{{'upload.item.distance.around3' | translate}}</option>
            <option value="around4">{{'upload.item.distance.around4' | translate}}</option>
            <option value="aroundMinus1">{{'upload.item.distance.aroundMinus1' | translate}}</option>
            <option value="aroundMinus2">{{'upload.item.distance.aroundMinus2' | translate}}</option>
            <option value="aroundMinus3">{{'upload.item.distance.aroundMinus3' | translate}}</option>
            <option value="aroundMinus4">{{'upload.item.distance.aroundMinus4' | translate}}</option>
          </select>
        </div>
      </div>

    </div>

    <br>

    <div class="row">
      <div class="col"></div>
      <div class="col">
        <app-sb-button (clicked)="addNewError(sequence.id)" [disabled]="loading"
                       [translate]="'upload.item.buttons.error.add'"></app-sb-button>
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>

    <br>
    <br>

    <app-sb-button (clicked)="removeItem(sequence)" [disabled]="loading"
                   [translate]="'upload.item.buttons.item.remove'"></app-sb-button>

    <br>
    <hr>
  </div>

  <app-sb-button (clicked)="addNewItem()" [disabled]="loading"
                 [translate]="'upload.item.buttons.item.add'"></app-sb-button>

  <br>
  <hr>

  <app-sb-button (clicked)="upload()" [disabled]="loading" [loading]="loading"
                 [translate]="'upload.item.buttons.upload'"></app-sb-button>

</div>
