<h1 style="text-align: center;">{{'login.title' | translate}}</h1>
<form (ngSubmit)="onSubmit()" class="login-wrapper">
  <div class="mb-3">
    <label class="form-label" for="inputEmail1">{{'login.email.title' | translate}}</label>
    <div class="input-group has-validation" id="inputEmail1">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input (change)="onEmailChange()"
             (input)="onEmailChange()"
             [(ngModel)]="email"
             [disabled]="loading"
             aria-describedby="inputGroupPrepend"
             autofocus
             class="form-control {{ emailValidity }}"
             name="email"
             placeholder="{{'login.email.placeholder' | translate}}"
             required
             type="text">
      <div class="invalid-feedback">{{'login.email.invalid' | translate}}</div>
      <div class="valid-feedback">{{'login.email.valid' | translate}}</div>
    </div>
    <div class="form-text" id="emailHelp">{{'login.email.security' | translate}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="inputPassword1">{{'login.password.title' | translate}}</label>

    <div class="input-group has-validation" id="inputPassword1">
      <input (change)="onPasswordChange()"
             (input)="onPasswordChange()"
             [(ngModel)]="password"
             [disabled]="loading"
             class="form-control {{ passwordValidity }}"
             name="password"
             placeholder="{{'login.password.placeholder' | translate}}"
             type="password">
      <div class="invalid-feedback">{{'login.password.invalid' | translate}}</div>
      <div class="valid-feedback">{{'login.password.valid' | translate}}</div>
    </div>
  </div>

  <app-sb-submit
    [disabled]="loading || emailValidity !== 'is-valid' || passwordValidity !== 'is-valid'"></app-sb-submit>

  <div class="form-group" style="text-align: center;">
    <app-sb-button (clicked)="onSubmit()"
                   [disabled]="loading || emailValidity !== 'is-valid' || passwordValidity !== 'is-valid'"
                   [loading]="loading"
                   [translate]="'login.button.login'"></app-sb-button>
  </div>
</form>
